# Ignore everything
*

# But not these files...
!.gitignore
!Source/**
!.vscode/c_cpp_properties.json
!.vscode/compileCommands_Samples.json
!Config/**
Content/**

# ...even if they are in subdirectories
!*/