# Ignore everything
*

# But not these files...
!.gitignore
!Source/**
!Config/**
!Content/Blueprints/**
!Content/GameModes/**
!Content/Materials/**
!Content/Fonts/**

# ...even if they are in subdirectories
!*/